# Start by excluding everything
*

# Include project code and build files
!PluralKit.*/
!Myriad/
!Serilog/
!.git

!PluralKit.sln
!global.json
!nuget.config
!ci/dotnet-version.sh
!ci/download-piper-voices.sh
!ci/entrypoint.sh

# Re-exclude host build artifact directories
**/bin
**/obj
**/target
**/node_modules
piper_voices/

# don't clear docker cache when updating dockerfiles
Dockerfile
