# Start by excluding everything
*

# Include project code and build files
!PluralKit.*/
!Myriad/
!Serilog/
!.git
!dashboard
!crates/

!Cargo.toml
!Cargo.lock
!rust-toolchain.toml
!PluralKit.sln
!nuget.config
!ci/dotnet-version.sh
!ci/download-piper-voices.sh
!ci/entrypoint.sh

# used for target binary builds
!.docker-bin/

# Re-exclude host build artifact directories
**/bin
**/obj
**/target
**/node_modules
piper_voices/

# don't clear docker cache when updating dockerfiles
Dockerfile
